body {
  background-color: black;
  font-family: Monaco;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(217, 217, 217);
  font-weight: 600;
  margin: auto;
  padding: 12px 4rem;
}

footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.note {
  background-color: #1C1C1C;
  border: 1px solid #6C6C6C;
  border-top: 32px solid #6C6C6C;
  display: block;
  width: 300px;
  height: 200px;
  margin: 3rem;
  padding: 2rem;
}

.title {
  color: #01A252;
}

.content {
  color: #D6D5D4;
}

